.hamburger-icon {
  position: relative;
  width: 14px;
  height: 12px;
}
.hamburger-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 26px;
  position: relative;
  border-radius: var(--br-31xl);
  height: 26px;
}
.hamburger-wrapper:hover {
  background-color: var(--color-whitesmoke-100);
}
.hamburger-wrapper:active {
  background-color: var(--color-white);
}
.sne-logo-icon1 {
  width: 146px;
  position: relative;
  height: 35px;
  object-fit: cover;
}
.logohldr {
  align-self: stretch;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-mini) var(--padding-xs)
    var(--padding-xl);
  gap: var(--gap-3xs);
}
.notification-mobile-icon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.location-icon1 {
  width: 28px;
  position: relative;
  height: 28px;
}
.raddress,
.rname {
  position: relative;
  font-weight: 600;
}
.raddress {
  font-size: var(--font-size-xs);
  font-weight: 300;
  color: var(--color-dimgray-100);
}
.adrhldr,
.rdetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.adrhldr {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.subarunet-icon {
  align-self: stretch;
  width: 117px;
  max-height: 100%;
  object-fit: cover;
}
.notifications-icon1,
.user-icon1 {
  width: 24px;
  position: relative;
  height: 24px;
}
.user-icon1 {
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.right-nav1 {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header2,
.navhldr,
.right-nav1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navhldr {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-5xl) 0 var(--padding-sm);
}
.header2 {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro);
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
.icon22 {
  width: 22px;
  position: relative;
  height: 22px;
}
.label22 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-darkslategray);
  text-align: left;
}
.menu-item {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-7xs);
  background-color: transparent;
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.menu-item1:hover,
.menu-item:hover {
  background-color: var(--color-aliceblue);
}
.menu-item,
.menu-item1,
.menu-item2,
.top-menu {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.menu-item1,
.menu-item2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xs) var(--padding-3xs)
    var(--padding-7xs);
  background-color: transparent;
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.top-menu {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.subaru-promise-icon2 {
  width: 184.2px;
  position: relative;
  height: 189px;
  object-fit: cover;
}
.sp-image-hldr2 {
  border-top: 1px solid var(--color-gainsboro);
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 239px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-xl);
}
.menu-item9,
.sidenav,
.sp-image-hldr2 {
  align-self: stretch;
  display: flex;
}
.menu-item9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-7xs);
  background-color: transparent;
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sidenav {
  width: 218px;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-base);
}
.pagetitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.breadcrumbitem {
  position: relative;
  line-height: 18px;
}
.bdivider-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.breadcrumb,
.titlehldr {
  display: flex;
  justify-content: flex-start;
}
.breadcrumb {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-11xs);
  font-size: var(--font-size-xs);
  color: var(--color-silver);
}
.titlehldr {
  flex-direction: column;
  align-items: flex-start;
}
.snav-item,
.snav-item1,
.snav-item2 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
}
.snav-item {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}
.snav-item1,
.snav-item2 {
  font-weight: 500;
  color: inherit;
}
.snav-item1:hover {
  color: var(--color-white);
  cursor: pointer;
}
.subnav,
.subnav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subnav-items {
  justify-content: flex-start;
  gap: 32px;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
}
.subnav {
  align-self: stretch;
  background-color: #1f252b;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xl);
}
.label33 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
}
.tabitem-selected {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-10xs) var(--br-10xs) 0 0;
  border-bottom: 2px solid var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label34 {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-dimgray-100);
  text-align: left;
}
.tabitem,
.tabnav {
  display: flex;
  flex-direction: row;
}
.tabitem {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-10xs) var(--br-10xs) 0 0;
  align-items: center;
  justify-content: center;
}
.tabnav {
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
  align-items: flex-start;
  justify-content: space-between;
}
.vimage-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
  flex-shrink: 0;
  object-fit: cover;
}
.vcount,
.vtitle {
  position: relative;
  font-weight: 500;
}
.vcount {
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
}
.vehicle-dec,
.vehicle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.vehicle-item {
  flex: 1;
  border-radius: var(--br-9xs);
  padding: var(--padding-7xs);
  gap: var(--gap-9xs);
}
.vimage-icon1 {
  align-self: stretch;
  height: auto;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.vehicleslist {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: #f8fafc;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  gap: 50.1px;
}
.icon33 {
  width: 20px;
  position: relative;
  height: 20px;
}
.label40 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: #1871d3;
  text-align: left;
}
.fliterbutton,
.yearselect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.fliterbutton {
  border: 0;
  padding: 0;
  background-color: transparent;
  gap: 6px;
}
.yearselect {
  height: 38px;
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  padding: var(--padding-2xs-5) var(--padding-5xs);
  gap: var(--gap-xs);
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.yearselect:hover {
  border: 1px solid #0b87fd;
  box-sizing: border-box;
}
.yearselect:focus {
  border: 1px solid #008aff;
  box-sizing: border-box;
}
.trimselect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
}
.regionselect,
.trimselect {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 38px;
  padding: var(--padding-2xs-5) var(--padding-5xs);
  gap: var(--gap-xs);
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.filters,
.regionselect,
.retailerselect,
.vehiclefilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.retailerselect {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  height: 38px;
  padding: var(--padding-2xs-5) var(--padding-5xs);
  gap: var(--gap-xs);
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.filters,
.vehiclefilter {
  align-self: stretch;
  gap: 15px;
}
.vehiclefilter {
  flex-direction: column;
  gap: 16px;
}
.table-place-holder {
  position: relative;
}
.contentbody,
.tbl-hldr {
  align-self: stretch;
  align-items: center;
}
.tbl-hldr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: #000;
}
.contentbody {
  flex-direction: column;
  padding: 0 var(--padding-xl);
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.content22,
.contentbody,
.inventory,
.right-content {
  display: flex;
  justify-content: flex-start;
}
.right-content {
  margin: 0;
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
  text-align: left;
  font-size: 20px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.content22,
.inventory {
  align-items: flex-start;
}
.content22 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
}
.inventory {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .notification-mobile-icon {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .notification-mobile-icon {
    display: flex;
  }
  .adrhldr {
    align-items: center;
    justify-content: flex-end;
  }
  .right-nav1 {
    display: none;
  }
  .navhldr {
    align-items: center;
    justify-content: flex-end;
  }
  .label22 {
    display: none;
  }
  .menu-item,
  .menu-item1 {
    padding-right: var(--padding-7xs);
    box-sizing: border-box;
  }
  .menu-item {
    width: auto;
    align-self: unset;
  }
  .menu-item1 {
    gap: var(--gap-5xs);
  }
  .menu-item1,
  .menu-item2 {
    width: auto;
    align-self: unset;
  }
  .sp-image-hldr2 {
    display: none;
  }
  .sidenav {
    width: auto;
    align-self: unset;
  }
  .subnav {
    flex-direction: column;
  }
  .vimage-icon {
    width: 100%;
    height: auto;
  }
}
